/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 29, 2018, 6:30:37 AM
    Author     : Leonel Nieto
*/

/*Css Style for table forked from https://codepen.io/barney-parker/pen/QjXOmv */
body.mapapplication{
  /* overflow: hidden; */
}

wrapper div.row.regions{
  margin: 0 0 10px 0;
}

wrapper div.row.regions div button{
  margin: 1px 0;
}

wrapper div.fundingtype ul.nav li.nav-item.unfunded{
  display: none;
}

wrapper[program=all] div.fundingtype ul.nav li.nav-item.unfunded,
wrapper[program=tif] div.fundingtype ul.nav li.nav-item.unfunded,
wrapper[program=transSolutions] div.fundingtype ul.nav li.nav-item.unfunded{
  display: block;
}

wrapper[program=transSolutions] div.col-lg-6.forecastyear.unfundedbyyear{
  display:none;
}

wrapper nav button[type=button],
wrapper div.regions button[type=button]{
  color:#fff;
  background-color: #868e96;
  border-color: #868e96;
}

wrapper nav button[type=button]:hover,
wrapper div.regions button[type=button]:hover{
  color: #868e96;
  background-color: #fff;
  border-color: #868e96;
}

wrapper div.fundingtype ul.nav.nav-pills li.nav-item a.nav-link{
  background-color:transparent;
  display: block;
  height: 100%;
  width: 100%;
}

wrapper div.fundingtype ul.nav.nav-pills li.nav-item a.nav-link.active,
wrapper div.fundingtype ul.nav.nav-pills li.nav-item a.nav-link:hover{
  background-color:#fff;
  color:#000;
}

wrapper div.fundingtype ul.nav.nav-pills li.nav-item{
  background-color:#5b87c6;
  border:#5b87c6 1px solid;
}

wrapper div.fundingtype ul.nav.nav-pills li.nav-item.comapp{
  flex-grow: 2;
}

#content {
  text-align: center;
}

.timeline {
  border-left: 0.25em solid #4298c3;
  background: rgba(255, 255, 255, 0.1);
  margin: 2em auto;
  line-height: 1.4em;
  padding: 1em;
  padding-left: 3em;
  list-style: none;
  text-align: left;
  margin-left: 10em;
  margin-right: 3em;
  border-radius: 0.5em;
}
.mt-70px {
  margin-top: 70px !important;
}

.event {
  min-width: 20em;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 1em;
}

.timeline .event:before {
  left: -15em;
  color: black;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.8em;
  min-width: 9em;
}

.timeline .event:after {
  box-shadow: 0 0 0 0.2em #4298c3;
  left: -3.5em;
  background: #313534;
  border-radius: 50%;
  height: 0.75em;
  width: 0.75em;
  content: "";
}

.timeline .event .member-location,
.timeline .event .member-parameters {
  display: none;
}

.timeline .event:last-of-type .member-location,
.timeline .event:last-of-type .member-parameters {
  display: block;
}

.member-infos {
  padding: 10px;
  text-align: left;
  position: relative;
}

.member-infos > h1 {
  font-weight: bold;
  font-size: 1.4em;
}

.member-location a:before {
  margin-right: 5px;
}

.member-location {
  text-indent: 2px;
}
/*Color Codding for tables*/
.bg2019 {
  background-color: #4ce600;
}
.bg2020 {
  background-color: #00a9e6;
}
.bg2021 {
  background-color: #005ce6;
}
.bg2022 {
  background-color: #ffaa00;
}
.bg2023 {
  background-color: #1a1a1a;
  color: #fff;
}
.bg2024 {
  background-color: #fc30cd;
}
.bg2025 {
  background-color: #e64c00;
}
.bg2026 {
  background-color: #e60000;
}
.bg2027 {
  background-color: #a87000;
}
.map{
  height: 80vh;
}
/*Tooltip Forked from https://www.w3schools.com/css/css_tooltip.asp*/
[tooltip]{
  position:relative;
}
[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 99;
    opacity:0;
}

[tooltip-position='left']::before{
  left:0%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg) 
}
[tooltip-position='top']::before{
  left:50%;
}
[tooltip-position='buttom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index:99;
    opacity:0;
}

[tooltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
}
[tooltip-position='top']::after{
  left:50%;
}
[tooltip-position='buttom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}
[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1
}
/* END Tooltip Forked from https://medium.freecodecamp.org/a-step-by-step-guide-to-making-pure-css-tooltips-3d5a3e237346 */
.alt-link {
  color: #233e87 !important;
  cursor: pointer;
}

.modal-full {
  min-width: 75%;
  margin: 0 auto;
}

.modal-full .modal-content {
  min-height: 75vh;
}

.pinMap {
  width: 100%;
  height: 75vh;
}
#refreshData{
  width: 20vw;
}
.tooltip-inner{
  padding:3px 8px;
  color:#fff;
  text-align:center;
  background-color:#323232 !important;
  }

.editArea-container{
  background: #fff;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
  overflow: auto; 
  padding: 0 6px 0 6px;
  max-width: 350px; 
  min-width: 250px;
  z-index:2;
  max-height: 500px;
}

.list-heading {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #323232;
}

.esri-widget{
  line-height:1em;
}

.esri-button {
  margin-bottom: 7px;
  width: 100%;
  height: 25px;
}

.btn-outline-secondary.selected{
  color:#fff;
  background-color:#6c757d;
  border-color:#6c757d;
}

@media only screen and (max-width: 600px) {
  wrapper div.fundingtype ul.nav{
    display: block;
  }
}

#TIFUnfunded{
  display: none;
  width: 100%; 
  height: 80vh;
}