body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    overflow-x: hidden;
}
header{
    background-color:#103f68;
}
nav{
    background-color:#86a3d5;
    color: #fff;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav item:after{
    content: "|";
    padding-left: 3vw;
}
nav item:last-child:after{
    content: "";
}
h1, h2, h3, h4{
    text-transform: uppercase;
    color:#939598;
    font-weight: 900;
    margin-left:50px;
}
h1{
    color:#f57f29;
}
h3{
    font-weight: 100;
    margin-left: 20px;
}
svg.pathway{
    width: 150px;
    position: absolute;
    right: 0;
}
svg.pathway path:hover, svg.pathway text:hover{
    fill:#144069;
}
grid{
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    margin-left: 50px;
    max-width: 60%;
    min-width: 800px;
}
grid item{
    text-align: center;
    background-color:#86a3d5;
    margin: 3px;
    padding: 30px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
grid item:hover{
    background-color:#f57f29;
    cursor:pointer;
}
grid item.selected{
    background-color:#f57f29;
}
grid#corevalues item{
    width: 25%;
}
grid#corehealthsafety item, grid#corepolicycompliance item{
    width: 40%;
}
grid#aboutudot item{
    width: 30%;
}
ul.clicklist{
    display: none;
    color:#939598;
    margin-left: 50px;
    width: 250px;
}
ul.clicklist.show{
    display: block;
}
ul li{
    margin-bottom:20px;
}
svg.core, svg.common, svg.leadership{
    width: 30%;
    position: absolute;
    right: 0;
}